@extends('layouts.web')

@section('contenido')

<div id="theme-page" class="master-holder  clearfix" itemscope="itemscope" itemtype="https://schema.org/Blog">

    <div class="master-holder-bg-holder">
        <div id="theme-page-bg" class="master-holder-bg js-el"></div>
    </div>

    <div class="mk-main-wrapper-holder">

        <div id="mk-page-id-22" class="theme-page-wrapper mk-main-wrapper mk-grid	full-layout  no-padding">
            <div class="theme-content no-padding" itemprop="mainEntityOfPage">

                <div class="mk-page-section-wrapper" data-mk-full-width="true" data-mk-full-width-init="true"
                    data-mk-stretch-content="true">
                    <div id="page-section-610d574408068"
                        class="mk-page-section self-hosted   full_layout full-width-610d574408068 js-el js-master-row    "
                        data-intro-effect="false">

                        <div class="mk-page-section-inner">

                            <div class="mk-video-color-mask"></div>

                            <div class="mk-section-preloader js-el" data-mk-component="Preloader">
                                <div class="mk-section-preloader__icon"></div>
                            </div>

                            @php
                            $desktop = url('img/portal/Nosotros/medicos-color-1.jpg');
                            $tablet = url('img/portal/Nosotros/medicos-color-2.jpg');
                            $movile = url('img/portal/Nosotros/medicos-color-3.jpg');
                            @endphp
                            <div class="background-layer-holder">
                                <div id="background-layer--610d572d2ef7b" data-mk-lazyload="false"
                                    class="background-layer mk-background-stretch none-blend-effect js-el"
                                    data-mk-component="Parallax" data-parallax-config='{"speed" : 0.3 }'
                                    data-mk-img-set='{"landscape":{"desktop":"{{$desktop}}","tablet":"{{$tablet}}","mobile":"{{$movile}}"},"responsive":"true"}'>
                                    <div class="mk-color-layer"></div>
                                </div>
                            </div>

                        </div>

                        <div class="page-section-content vc_row-fluid mk-grid ">
                            <div class="mk-padding-wrapper wpb_row">
                                <div style="" class="vc_col-sm-12 wpb_column column_container  _ height-full">

                                    <div id="padding-2" class="mk-padding-divider   clearfix"></div>

                                    <style id="mk-shortcode-style-2" type="text/css">
                                        #padding-2 {
                                            height: 40px;
                                        }
                                    </style>
                                    <h2 id="fancy-title-610d5744090eb"
                                        class="mk-fancy-title  simple-style   color-single">
                                        <span>

                                            <p style="text-align: left;">Registrarme</p>
                                        </span>
                                    </h2>
                                    <div class="clearboth"></div>



                                    <style id="mk-shortcode-style-610d5744090eb" type="text/css">
                                        #fancy-title-610d5744090eb {
                                            letter-spacing: 0px;
                                            text-transform: initial;
                                            font-size: 32px;
                                            color: #ffffff;
                                            text-align: left;
                                            font-style: inherit;
                                            font-weight: bold;
                                            padding-top: 0px;
                                            padding-bottom: 0px;
                                        }

                                        #fancy-title-610d5744090eb span {}

                                        #fancy-title-610d5744090eb span i {
                                            font-style: inherit;
                                        }

                                        @media handheld,
                                        only screen and (max-width:767px) {
                                            #fancy-title-610d5744090eb {
                                                text-align: center !important;
                                            }
                                        }
                                    </style>
                                    <div
                                        class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_10 vc_sep_border_width_3 vc_sep_pos_align_left vc_separator_no_text vc_sep_color_white">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span
                                                class="vc_sep_line"></span></span><span
                                            class="vc_sep_holder vc_sep_holder_r"><span
                                                class="vc_sep_line"></span></span>
                                    </div>
                                    <h2 id="fancy-title-610d5744098eb"
                                        class="mk-fancy-title  simple-style   color-single">
                                        <span>
                                            Póngase en contacto con Centro Médico Foianini </span>
                                    </h2>
                                    <div class="clearboth"></div>



                                    <style id="mk-shortcode-style-610d5744098eb" type="text/css">
                                        #fancy-title-610d5744098eb {
                                            letter-spacing: 0px;
                                            text-transform: initial;
                                            font-size: 14px;
                                            color: #ffffff;
                                            text-align: left;
                                            font-style: inherit;
                                            font-weight: inherit;
                                            padding-top: 0px;
                                            padding-bottom: 20px;
                                        }

                                        #fancy-title-610d5744098eb span {}

                                        #fancy-title-610d5744098eb span i {
                                            font-style: inherit;
                                        }

                                        @media handheld,
                                        only screen and (max-width:767px) {
                                            #fancy-title-610d5744098eb {
                                                text-align: center !important;
                                            }
                                        }
                                    </style>
                                    <div id="padding-3" class="mk-padding-divider   clearfix"></div>

                                    <style id="mk-shortcode-style-3" type="text/css">
                                        #padding-3 {
                                            height: 40px;
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="clearboth"></div>
                        </div>






                        <div class="clearboth"></div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>

                <style id="mk-shortcode-style-610d574408068" type="text/css">
                    .full-width-610d574408068 {
                        min-height: 100px;
                        margin-bottom: 0px;
                        background-color: #009de0;
                    }

                    .full-width-610d574408068 .page-section-content {
                        padding: 0px 0 0px;
                    }

                    #background-layer--610d574408068 {
                        ;
                        background-position: left top;
                        background-repeat: repeat;
                        ;
                    }

                    #background-layer--610d574408068 .mk-color-layer {
                        ;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                </style>
                <style id="mk-shortcode-style-610d574408068" type="text/css">
                    .full-width-610d574408068 .mk-fancy-title.pattern-style span,
                    .full-width-610d574408068 .mk-blog-view-all {
                        background-color: #009de0 !important;
                    }
                </style>

                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-mk-stretch-content="true"
                    class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row ">


                    <div style="" class="vc_col-md-12 wpb_column column_container  _ height-full">

                        <h2 id="fancy-title-610d57440a6a3"
                            class="mk-fancy-title  mk-animate-element left-to-right  simple-style   color-single">
                            <span>

                                <p style="text-align: center;"><strong>FORMULARIO DE REGISTRO</strong></p>
                            </span>
                        </h2>
                        <div class="clearboth"></div>

                    </div>

                    <form id="wpforms-form-53" class="wpforms-validate wpforms-form" data-formid="53" method="post"
                        enctype="multipart/form-data" action="https://cmfoianini.com/contacto/#wpforms-53">
                        <div style="" class="vc_col-sm-4 wpb_column column_container  _ height-full">
                            <div class="wpforms-container wpforms-container-full" id="wpforms-53">

                                <div class="wpforms-field-container">
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Nombre
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Ap. Paterno
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Ap. Materno
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>

                                    <div id="wpforms-53-field_4-container" class="wpforms-field wpforms-field-number"
                                        data-field-id="4"><label class="wpforms-field-label"
                                            for="wpforms-53-field_4">Teléfono
                                            <span class="wpforms-required-label">*</span></label><input type="number"
                                            id="wpforms-53-field_4" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][4]" required></div>
                                    <div id="wpforms-53-field_1-container" class="wpforms-field wpforms-field-email"
                                        data-field-id="1"><label class="wpforms-field-label"
                                            for="wpforms-53-field_1">Email <span
                                                class="wpforms-required-label">*</span></label><input type="email"
                                            id="wpforms-53-field_1" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][1]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Domicilio
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Familiar Responsable
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label" for="wpforms-53-field_0">CI
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Estado Civil
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Edad
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Sexo
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Fecha Nacimiento
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Lugar de Nacimiento
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_0-container" class="wpforms-field wpforms-field-name"
                                        data-field-id="0"><label class="wpforms-field-label"
                                            for="wpforms-53-field_0">Asignar Especialidad
                                            <span class="wpforms-required-label">*</span></label><input type="text"
                                            id="wpforms-53-field_0" class="wpforms-field-large wpforms-field-required"
                                            name="wpforms[fields][0]" required></div>
                                    <div id="wpforms-53-field_2-container" class="wpforms-field wpforms-field-textarea"
                                        data-field-id="2">
                                        <label class="wpforms-field-label" for="wpforms-53-field_2">Mensaje
                                            <span class="wpforms-required-label">*</span></label><textarea
                                            id="wpforms-53-field_2" class="wpforms-field-medium wpforms-field-required"
                                            name="wpforms[fields][2]" required></textarea>
                                    </div>
                                </div>
                                <div class="wpforms-field wpforms-field-hp" id="wpform-field-hp"><label
                                        for="wpforms-field_hp" class="wpforms-field-label">Email</label><input
                                        type="text" name="wpforms[hp]" id="wpforms-field_hp"
                                        class="wpforms-field-medium"></div>
                                <div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]"
                                        value="53"><input type="hidden" name="wpforms[author]" value="1"><input
                                        type="hidden" name="wpforms[post_id]" value="22"><button type="submit"
                                        name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-53"
                                        value="wpforms-submit" data-alt-text="Enviando...">Enviar</button></div>

                            </div>
                        </div>
                    </form>
                </div>

                <div data-mk-stretch-content="true"
                    class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row ">


                    <div style="" class="vc_col-sm-12 wpb_column column_container  _ height-full">

                        <div id="padding-5" class="mk-padding-divider   clearfix"></div>

                        <style id="mk-shortcode-style-5" type="text/css">
                            #padding-5 {
                                height: 40px;
                            }
                        </style>
                    </div>
                </div>

                <div class="clearboth"></div>

                <div class="clearboth"></div>
            </div>
            <div class="clearboth"></div>

        </div>
    </div>



</div>
@endsection